---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: vote-deployment
spec:
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
        - name: vote
          image: lachlanevenson/examplevotingapp_vote:latest
          command:
            - python
            - app.py
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: redis-deployment
spec:
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:alpine
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: db-deployment
spec:
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: postgres
          image: postgres:9.4
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: worker-deployment
spec:
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: lachlanevenson/examplevotingapp_worker:latest
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: result-deployment
spec:
  template:
    metadata:
      labels:
        app: result
    spec:
      containers:
        - name: result
          image: lachlanevenson/examplevotingapp_result:latest
          command:
            - nodemon
            - --debug
            - server.js
---
apiVersion: v1
kind: Service
metadata:
  name: vote-service
spec:
  type: NodePort
  ports:
    - port: 5000
      targetPort: 80
  selector:
    app: vote
---
apiVersion: v1
kind: Service
metadata:
  name: result-service
spec:
  type: NodePort
  ports:
    - port: 5001
      targetPort: 80
  selector:
    app: result
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  ports:
    - port: 6379
  selector:
    app: redis
---
apiVersion: v1
kind: Service
metadata:
  name: db
spec:
  ports:
    - port: 5432
  selector:
    app: db
